<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @post.title %></h1>
      <p><%= @post.content %></p>
      <p>投稿者: <%= @post.customer.name %></p>
      <p>投稿日時: <%=  @post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
    </div>
    <div class="col-md-4">
      <h2>コメント一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">投稿者</th>
            <th scope="col">コメント</th>
            <% if current_customer&.admin? %>
              <th scope="col"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @post.comments.each do |comment| %>
            <tr>
              <td><%= comment.customer.name %></td>
              <td><%= comment.comment %></td>
              <td>
                <%= link_to '削除', admin_post_comment_path(comment.post, comment.id), method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>