<!DOCTYPE html>
<html>
  <head>
    <title>Kaigonowa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('kaigonowa.png', size: "180x50") %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
            </ul>
            <ul class="navbar-nav ml-auto">
              <% if unchecked_notifications.any? %>
               <i class="fa fa-circle" style="color: gold;"></i>
              <% end %>
             <li class="nav-item">
               <%= link_to "通知", notifications_path,  class: 'btn btn-outline-dark' %>
             </li>
             <li class="nav-item">
               <%= link_to 'マイページ', customer_path(current_customer.id), class: 'btn btn-outline-dark' %>
             </li>
             <li class="nav-item">
               <%= link_to 'ユーザー', customers_path, class: 'btn btn-outline-dark' %>
             </li>
             <li class="nav-item">
               <%= link_to "投稿一覧", posts_path, class: 'btn btn-outline-dark' %>
             </li>
             <li class="nav-item">
               <%= link_to "新規投稿", new_post_path, class: 'btn btn-outline-dark' %>
             </li>
               <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-outline-dark' %>
             </li>
            <% elsif admin_signed_in?%>
             <li><%= link_to ' 会員一覧', admin_customers_path, class: 'btn btn-outline-dark' %>
             </li>
             <li><%= link_to ' カテゴリ一覧', admin_categorys_path, class: 'btn btn-outline-dark' %>
             </li>
             <li><%= link_to ' 投稿一覧', admin_posts_path, class: 'btn btn-outline-dark' %>
             </li>
             <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %></li>
            <% else %>
            <li class="nav-item">
              <%= link_to "ホーム", root_path, class: 'btn btn-outline-dark' %>
            </li>
             <li class="nav-item">
             <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-outline-dark", method: :post %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", customer_session_path, class: 'btn btn-outline-dark' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="text-right">
       <%= form_tag search_posts_path, method: :get do %>
        <%= text_field_tag :keyword, params[:keyword], placeholder: "キーワードを入力してください", size: 30 %>
        <%= submit_tag "検索" %>
       <% end %>
      </div>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
  </body>
</html>
